{
    "plugins": [
      ["import", { "libraryName": "@mui/material", "libraryDirectory": "", "camel2DashComponentName": false }, "mui"],
      ["import", { "libraryName": "@mui/icons-material", "libraryDirectory": "", "camel2DashComponentName": false }, "mui-icons"]
    ]
  }
  