@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 3px;  /* Vertical scrollbar width */
  height: 3px; /* Horizontal scrollbar height */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* Theme color -> background: #70d8bd */
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* Theme color -> background: #70d8bd */
  background: #555;
}